.profile-box {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.menu-icon {
  font-size: 20px;
  line-height: 1;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.table-closed td{
  opacity: 0.5;
}

small{
  font-weight: 400;
  font-size: 0.8rem; 
}